* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    background: url(../Img/Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

.title {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

.navbar a {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.login {
    display: block;
}

.btnLogin {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.5s;
    padding: 15px 40px;
}

.btnLogin:hover {
    background: #fff;
    color: #0775a8;
    border-color: #0775a8;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 35px;
}

.wrapper {
    top: 40px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #05537747;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #a8abb5de;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #a8abb5de;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon-email {
    position: absolute;
    right: -12px;
    font-size: 1.2em;
    color: #a8abb5de;
    line-height: 57px;

}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #a8abb5de;
    margin-right: 3px;
}

.remember-forgot a {
    color: rgba(168, 171, 181, 0.87);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #a8abb5de;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #a8abb5de;
    text-align: center;
    font-weight: 500;
    margin: 20px 0 20px;
}

.input-box .icon-password {
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    color: #a8abb5de;
    line-height: 57px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}