/* General Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    background: url(../Img/Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

.title {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
}

.navbar a {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.login {
    display: block;
}

.btnLogin {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.5s;
    padding: 15px 40px;
}

.btnLogin:hover {
    background: #fff;
    color: #0775a8;
    border-color: #0775a8;
}

/* Home */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 35px;
}

.text {
    width: 35%;
    text-align: justify;
}

.text h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.text p {
    font-size: 17px;
    line-height: 25px;
}

input,
select {
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
}

select {
    text-align: center;
}

select option {
    color: black;
}

.form {
    margin-top: 60px;
}

fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    height: 350px;
    padding: 25px;
}

.wrapper {
    border: 2px solid #05537747;
    box-shadow: 0 0 30px #00000080;
    backdrop-filter: blur(10px);
}

.input-box {
    position: relative;
    height: 30px;
    border-bottom: 2px solid #a8abb5de;
    margin-bottom: 20px;
}

.input-box label {
    color: #a8abb5de;
}

.search label {
    color: #a8abb5de;
}

legend {
    padding: 0 10px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search *.btnLogin {
    color: #fff;
    font-size: 13px;
    padding: 10px;
}

.search *.btnLogin:hover {
    color: #0775a8;
}

/* Inscription */
.inscription {
    height: 450px;
    width: 580px;
    padding: 25px 50px;
}

.inscription-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inscription-adress {
    width: 100%;
}

.select-width {
    width: 100px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #a8abb5de;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

/* About */

.header-about {
    text-align: center;
    margin-top: 130px;
}

.main-about {
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}

.main-about h2 {
    font-size: 26px;
}

.about-inputs {
    display: flex;
}

.icon-title {

    margin-right: 30px;
}

.content section {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 30px;

}

.content .section1 {
    margin-top: 30px;
}

.form-about {
    display: flex;
    width: 301px;
    margin-top: 20px;
    margin-right: 70px;
    padding: 30px;
    border: #0775a8 solid;
    border-radius: 10%;
    border: 2px solid #05537747;
    box-shadow: 0 0 30px #00000080;
    backdrop-filter: blur(10px);
    ;
}

.contact-form textarea {
    width: 100%;
    height: 70px;
    border: 0;
    background-color: #25305270;
    margin: 0;
    border-bottom: 2px #a8abb5de solid;
    color: #fff;
}

.contact-form textarea::placeholder {
    color: #ffF;
}

.btnLogin-about {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.5s;
    padding: 10px;
    margin-top: 20px;
    margin-left: 150px;
}

.btnLogin-about:hover {
    background: #fff;
    color: #0775a8;
    border-color: #0775a8;
}

/* Tours */
.tour {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.tour button {
    margin-top: 15px;
    padding: 5px;
    border-color: white;
    border-radius: 10px;
    background: transparent;
    color: white;
    transition: 0.4s;

}

.tour button:hover {
    background-color: #00000080;
    color: #0775a8;
}

.tour h3 {
    margin: 10px 100px;
}

/* Destinations */
.main-destinations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    text-align: center;
}

.destinations {
    border: white solid;
    border-radius: 10px;
    padding: 20px 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px #00000080;
}

.main-destinations>div {
    width: calc(100%/4);
}

.main-destinations *:not(:last-child) {
    margin-bottom: 15px;
}

/* Hotels */
.main-hotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.filters {
    display: flex;
    margin-bottom: 50px;
    display: flex;
    border: #000000ae double 10px;
    padding: 15px;
    border-radius: 10px;
    background: #f64fe533;
    backdrop-filter: blur(20px);
}

.filters input {
    border: 1px solid #ffffff;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    padding: 10px;
    margin: 0 10px;

}

.filters>* {
    display: flex;
    flex-direction: column;
    text-align: start;

}

.card {
    position: relative;
}

.card h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 7px;
    background-color: #000000ae;
    border-radius: 5px;

}

.card img {
    height: 300px;
    width: 500px;
}